<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="LinYuSen.HDRImageViewer"
    Publisher="CN=5AFD1CFB-7F2A-4E5F-BCBB-58676BBD3F8C"
    Version="1.0.25.0" />

  <mp:PhoneIdentity PhoneProductId="4F314C0D-BB1A-413A-80E8-3106FA517F38" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>HdrImageViewer</DisplayName>
    <PublisherDisplayName>LinYuSen</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.26100.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.26100.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="HdrImageViewer"
        Description="HdrImageViewer"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="hdrimageviewer.images">
            <uap:DisplayName>HDR 图片</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
              <uap:FileType>.jpe</uap:FileType>
              <uap:FileType>.jxr</uap:FileType>
              <uap:FileType>.wdp</uap:FileType>
              <uap:FileType>.hdp</uap:FileType>
              <uap:FileType>.avif</uap:FileType>
              <uap:FileType>.heif</uap:FileType>
              <uap:FileType>.heic</uap:FileType>
              <uap:FileType>.jxl</uap:FileType>
              <uap:FileType>.exr</uap:FileType>
              <uap:FileType>.hdr</uap:FileType>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.webp</uap:FileType>
              <uap:FileType>.tif</uap:FileType>
              <uap:FileType>.tiff</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
